###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

### project ###
.env
.env.local
/.idea
/vendor/
/var/cache/*
/var/log/*
/var/tailwind/*
/docker/db/
tools/php-cs-fixer/vendor/
.php-cs-fixer.cache

###> assets ###
/node_modules/
/public/
npm-debug.log
yarn-error.log
###< assets ###
