###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
### project ###
.env
.env.local
/.idea
/vendor/
/var/cache/*
/var/log/*
/var/tailwind/*
/docker/db/
tools/php-cs-fixer/vendor/
.php-cs-fixer.cache
.config/*

###> assets ###
/node_modules/
/public/
npm-debug.log
yarn-error.log
###< assets ###

###> pentatrion/vite-bundle ###
/node_modules/
/public/build/
###< pentatrion/vite-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
